.usersec{
    display: inline-flex;
    box-sizing: border-box;
}

.user_card{
    color: whitesmoke;
    background: linear-gradient(to bottom,#1e130cc4,#9A8478); 
    border-radius: 5px;
    margin: 5px 5px;
    width: 400px;
    height: 220px;
}
button{
    margin: 0px;
}
.userlist h1{
    /* color: aliceblue; */
    background: linear-gradient(to bottom,#d0dae0,#9a8478ec); 
    margin: 0px;
    padding: 10px;
}