.adduser h1{
    background: linear-gradient(to bottom,#d0dae0,#9a8478ec); 
    margin: 0px;
    padding: 10px;
}

.form2 input{
    font-size: 14px;
    font-weight:normal;
    /* text-align: center; */
    color:aliceblue;
    background-color: transparent;
    border: 0;
    border-bottom:2px solid #ffffff;
    margin: 20px;
    width: 200px;
    padding: 10px 0px;
}

.form2{
    margin: 100px auto;
    background: linear-gradient(to bottom,#D0DAE0,#9A8478); 
    color:#252525;
    height: 400px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 1px 0px 50px 10px rgb(50, 50, 56);
}  

.bb{
    font-size: 14px;
    font-weight: bold;
    color:aliceblue ;
    border-radius: 9px;
    border: 0;
    margin: 20px;
    padding: 10px 60px;
    background-color:rgb(17, 11, 53);
    transition: 0.8s;
}
.bb:hover{
    background-color: aliceblue;
    color:rgb(17, 11, 53);
}